<div class="container">
    <div class="mt-5">
        <h3 class="text-center text-uppercase p-2">LISTA DE MENSAJEROS</h3>
        {{#if mensajeros}}
            <table class="table text-center">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>Identificacion</th>
                        <th>Telefono</th>
                        <th>Edad</th>
                        <th>Municipio</th>
                        <th>Acciones</th>
                    </tr>

                </thead>
                <tbody>
                    {{#each mensajeros}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{identificacion}}</td>
                        <td>{{telefono}}</td>
                        <td>{{edad}}</td>
                        <td>{{municipio}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="/delete/{{id}}" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i></a>
                                <a href="/edit/{{id}}" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="6">REGISTRO DE MENSAJEROS</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>Crea tu mensajero</h3>
            </div>
            <div class="card-body">
                <p>Presiona este boton para poder añadir tu mensajero</p>
                <a href="/add" class="btn btn-primary">Ir a crear</a>
            </div>
        {{/if}}
    </div>
</div>